# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Other
1.jpg
1.psd
3D (2).jpg
Fine_Tune.zip
Fine_Tune/
