html,
body {
    margin: 0;
    min-height: 100%;
}

#container {
    text-align: center;
    min-height: 100%;
    position: absolute;
}

button,
label,
input,
select {
    margin: 5px;
}

.b-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.b-header .sidebar-menu {
    margin-left: 5px;
}

.b-header .logo-text {
    margin-left: 5px;
    display: inline;
    color: #4f79ff;
    font-weight: 400;
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.b-header .file-label {
    margin-left: 5px;
    color: #e2e3ed;
    font-weight: 300;
    font-size: 8pt;
    font-family: 'Lato', sans-serif;
    display: inline;
}

.b-content {
    background-color: #efeff7;
}

.b-content .settings {
    background-color: #ffffff;
    padding-left: 15px;
}

.b-content .tg {
    display: table;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    direction: ltr;
    margin: 20px 0;
}

.b-content .adjust-label {
    font-style: italic;
    color: #c5c7dc;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.text {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 110%;
    font-family: 'Lato', sans-serif;
}

.td {
    vertical-align: middle;
}

.edit {
    text-align: right;
}


.time {
    font-family: 'Lato', sans-serif;
    color: #363636;
    position: relative;
    font-size: 100%;
    line-height: 100%;
    cursor: pointer;
    font-weight: 400;
    background-color: #fff;
    padding: 2px 5px 0px 5px;
    margin-right: 20px;
    margin-left:5px;
}

.pause,
.increase,
.ignore,
.decrease {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    padding-right:6px;
}

.increase {
    color: #ffffff !important;
    background-color: #4f79ff;
    border: 1px solid #4f79ff;

}

.decrease {
    background-color: #ffffff;
    color: #4f79ff !important;
    border: 1px solid #4f79ff;
}

.ignore {
    background-color: rgb(255, 0, 0);
    color: #ffffff !important;
    border: 1px solid #4f79ff;
}

.pause {
    background-color: #ffffff;
    color: #4f79ff !important;
    border: 1px solid #4f79ff;
    padding-right:7px;
}

.increase,
.decrease,
.ignore,
.time,
#stop {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.placeholder {
    display: inline-block;
    cursor: none;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    padding-right:6px;    
}

a:hover {
    opacity: 1;
}

td {
    text-align: center;
    height: 80px;
}

tr {
    border: 1px solid #cccccc;
}

#advancedcontrols {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0px;
    text-align: left;
    /*visibility: hidden;*/
    background-color: #ffffff;

}

#fileinput,
#audioinput {
    /*position: relative;*/
    /*bottom: 5px;*/
}

#step1,
#step2,
#fileinfo {
    text-align: center;
    /*margin: 20px;*/
    font-size: 14px;
    font-weight: 400;
}

#directions {
    margin: 50px auto 150px auto;
    font-size: 24px;
    max-width: 700px;
    border: 1px solid black;
    padding: 20px;
}

.normal {
    line-height: 150%;
    font-size: 20px;
    text-align: left;
    margin: 15px 50px;
}

.note {
    font-size: 16px;
    margin: 15px 80px;
}

#audiocontrols {
    display: inline;
    text-align: right;
    background-color: #fff;
}

#player {
    display: inline;
}

#audioticker {
    display: inline;
    color: dimgrey;
    font-size: 14px;
}


#stop:hover {
    opacity: 1;
}

.footer {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.footer a {
    color: #555;
}