html,
body {
    margin: 0;
    min-height: 100%;
}

#container {
    text-align: center;
    min-height: 100%;
    position: absolute;
}

button,
label,
input,
select {
    margin: 5px;
}

.b-header {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 111px;
}

.b-header .sidebar-menu {
    margin-left: 5px;
}

.b-header .logo-text {
    margin-left: 5px;
    display: inline;
    color: #4f79ff;
    font-weight: 400;
    font-size: 16pt;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.b-header .file-label {
    margin-left: 5px;
    color: #e2e3ed;
    font-weight: 300;
    font-size: 8pt;
    font-family: 'Lato', sans-serif;
    display: inline;
}

.b-content {
    background-color: #efeff7;
    height: calc(100vh - 141px);
}

.b-content > div {
  background: #ffffff content-box;
  padding-left: 8px;
  margin-top: 15px;
  height: calc(100% - 15px);
  overflow: auto;
}

.b-content .settings {
  padding-left: 4px
}

.b-content .tg {
    display: table;
    width: 100%;
    direction: ltr;
}

.b-content .adjust-label {
    font-style: italic;
    color: #c5c7dc;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.text {
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 110%;
    font-family: 'Lato', sans-serif;
}

.td {
    vertical-align: middle;
}

.edit {
    text-align: right;
}


.time {
    font-family: 'Lato', sans-serif;
    color: #363636;
    position: relative;
    font-size: 100%;
    line-height: 100%;
    cursor: text;
    display: inline-block;
    font-weight: 400;
    background-color: #fff;
    padding: 2px 5px 0px 5px;
    margin-right: 20px;
    margin-left:5px;
}

.pause,
.increase,
.decrease {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    padding-right:6px;
}

.increase {
    color: #ffffff !important;
    background-color: #4f79ff;
    border: 1px solid #4f79ff;

}

.decrease {
    background-color: #ffffff;
    color: #4f79ff !important;
    border: 1px solid #4f79ff;
}

.pause {
    background-color: #ffffff;
    color: #4f79ff !important;
    border: 1px solid #4f79ff;
    padding-right:7px;
}

.increase,
.decrease,
.time,
#stop {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:hover {
    opacity: 1;
}

td {
    text-align: center;
    height: 80px;
}

tr {
    border: 1px solid #cccccc;
}

#advancedcontrols {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    left: 0px;
    text-align: left;
    /*visibility: hidden;*/
    background-color: #ffffff;

}

#fileinput,
#audioinput {
    /*position: relative;*/
    /*bottom: 5px;*/
}

#step1,
#step2,
#fileinfo {
    text-align: center;
    /*margin: 20px;*/
    font-size: 14px;
    font-weight: 400;
}

#directions {
    margin: 50px auto 150px auto;
    font-size: 24px;
    max-width: 700px;
    border: 1px solid black;
    padding: 20px;
}

.normal {
    line-height: 150%;
    font-size: 20px;
    text-align: left;
    margin: 15px 50px;
}

.note {
    font-size: 16px;
    margin: 15px 80px;
}

#audiocontrols {
    display: inline;
    text-align: right;
    background-color: #fff;
}

#player {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

#player audio {
  margin-right: .75em;
  outline: none;
}

#audioticker {
    display: inline;
    color: dimgrey;
    font-size: 14px;
}


#stop:hover {
    opacity: 1;
}

.footer {
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.footer a {
    color: #555;
}
#sectionScrubberContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  margin-right: .75em;
}

#playerprogress {
  width: 100%;
}

#audioLabel, #jsonLabel {
  min-width: 10em;
  display: inline-block;
}

/* range styling */
input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #0B0C0E;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 20px;
  border-radius: 5px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0B0C0E;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #0B0C0E;
  border-radius: 5px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 20px;
  border-radius: 5px;
  background: #CCCCCC;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0B0C0E;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #0B0C0E;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 20px;
  border-radius: 5px;
  background: #CCCCCC;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0B0C0E;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0B0C0E;
}
/* end range styling */
